*~
*.DS_Store
*.class
*java#
*.settings


*.iml
.idea
gen
target
bin

facebook/local.properties
facebook/bin/
facebook/gen/
examples/Hackbook/bin/
examples/Hackbook/gen/
examples/Hackbook/local.properties
examples/stream/bin/
examples/simple/bin/
examples/stream/gen/
examples/simple/gen/
tests/bin
tests/gen

local.properties
.arc/
bin/
gen/
out/
facebook/doc/
facebook/lint.xml
facebook/tests/lint.xml
facebook/tests/assets/config.json
.idea/workspace.xml

